<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <div class="container d-grid gap-2 col-6 mx-auto">
    <h3>Вход и регистрация</h3>

    <form action="/api/user/login" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userpassword" name="userpassword" required>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Вход</button>
        <a href="/" class="btn btn-primary">Отмена</a>
      </div>      
    </form>

    <a href="/registration" class="btn btn-primary m-5">Регистрация</a>
  </div> 
  
<%- include('../partials/footer'); %>
</body>
</html>