<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
  <div class="container">
    <%- include('../partials/nav-menu'), { user } %>
    <h3>Библиотека для создания, хранения и редактирования книг</h3> 
    <% if (user) { %>
      <p>Привет, <b><%= user.username %> !</b>  </p>    
    <% } %>    
  </div>

  <%- include('../partials/footer'); %>  
</body>
</html>